# Supabase
SUPABASE_URL=https://fokyiwxpdzaklqvpbmjf.supabase.co
SUPABASE_KEY=sb_publishable_dZjunTlv8bH9me1559BAvQ_nu8_Efbi
SUPABASE_DB_PASSWORD=matrizcomite1234

# Conexão direta PostgreSQL (via Supabase connection string)
DATABASE_URL=postgresql://postgres:[matrizcomite1234]@db.fokyiwxpdzaklqvpbmjf.supabase.co:5432/postgres

# ETL
INPUT_FOLDER=data/input
PROCESSED_FOLDER=data/processed
ERROR_FOLDER=data/error
LOG_FOLDER=logs
WATCH_INTERVAL=10

# Comportamento
BATCH_SIZE=500
LOG_LEVEL=INFO
